.asset {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.asset img,
.asset video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.resize {
  background: rgba(0, 0, 0, 0.8);
}

.asset.video {
  pointer-events: none;
}
img {
  resize: both;
}
